[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slackclient = "*"
jupyterlab = "*"
pandas = "*"
requests = "*"
numpy = "*"
slack-bolt = "*"
feedparser = "*"

[dev-packages]

[requires]
python_version = "3.10"
